@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

@font-face {
  font-family: "Varela Round";
  src: url('/Varela_Round/VarelaRound-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.profile-pic {
  width: 300px;
  margin: 2rem 0;
}

.social-link {
  color: rgb(90, 90, 90);
  margin-top: 1rem;
}

.social-link:hover {
  color: rgb(160, 160, 160);
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: translate3d(0, -3px, 0);
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 12%);
}